body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #212834;
	color: #212834;
}
header {
	background-color: #212834;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Anton', sans-serif;

}
header h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	font-family: 'Helvetica, Arial', sans-serif;
}
header img {
	border-radius: 500px;
	width: 300px;
	border: 8px solid white;
}
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
}
main img {
	max-width: 100%;
	padding: 0 0 0 100px;
}

h2 {
	font-size: 25px;
}

a {
	color: #212834;
}
a:hover {
	background-color: #212834;
	color: white; 
} 


footer {
	margin: 0 auto;
	padding: 0 20px;
	background-color: white;
	color: #212834;
	text-align: center;
}
footer a {
	color: #212834;
}



